/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

:root {
  --color-primary: #274C5B;
  --color-secondary: #D2A1A8;
  --color-primary-light: #6C879B;
  --color-lime-green: #B2CBB6;
  --color-light-orange: rgb(250, 242, 235);
  --color-black: #000000;
  --color-dark: #161616;
  --color-white: #FFFFFF;
  --color-light: #F7F7F7;
  --body-text: 1.125rem;
  --large-text: 1.375rem;
  --medium-text: 1rem;
  --small-text: 0.875rem;
  --xsmall-text: 0.75rem;
  --body-font: "Poppins", sans-serif;
  --heading-font: "EB Garamond", serif;
  --font-Poppins: "EB Garamond", serif;
  --font-EB-Garamond: "EB Garamond", serif;
  --font-Playfair: "Playfair Display", serif;
  --font-AlexBrush: "Alex Brush", cursive;
  --font-Niconne: "Niconne", cursive;
  --size-30: 1.875rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --overlay-1: rgba(5, 39, 52, 0.749);
  --td-3: all .3s ease-in-out;
  --td-5: all .5s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: var(--body-text);
  font-family: var(--body-font);
  font-weight: 300;
  color: var(--color-dark);
  overflow-x: hidden;
  overflow-y: auto;
}

/*========================================
  START TYPOGRAPHY
========================================*/
h1,
h1 {
  font-size: clamp(3rem, 8vw, 7.75rem);
  font-family: var(--font-EB-Garamond);
  font-weight: 500;
}

h2,
h2 {
  font-size: clamp(2.25rem, 5vw, 4.0625rem);
  font-family: var(--font-EB-Garamond);
  font-weight: 500;
  color: var(--color-primary);
}

h3,
h3 {
  font-size: clamp(1.75rem, 4vw, 2.9375rem);
  font-family: var(--font-EB-Garamond);
  font-weight: 400;
  color: var(--color-primary);
}

h4,
.h4 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  font-family: var(--font-EB-Garamond);
  font-weight: 400;
  color: var(--color-primary);
}

h5,
.h5 {
  font-size: clamp(1.25rem, 2.2vw, 1.75rem);
}

h6,
h6 {
  font-size: clamp(1.125rem, 1.8vw, 1.375rem);
}

/*========================================
  START GLOBAL STYLE
========================================*/
@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1264px;
  }
}

@media (min-width: 992px) {
  .mini-container {
    position: relative;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.ani-heartbeat {
  animation: heartbeat 1.5s infinite;
  transform-origin: center;
}

.preloader .inner {
  position: relative;
  width: 100px;
  height: 100px;
  border: 5px solid #f7f7f7;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

section,
.section {
  position: relative;
  overflow: hidden;
}

.section,
.is_bg {
  padding-top: var(--size-100);
}

.section:has(+.is_bg),
.section:has(+footer),
.is_bg {
  padding-bottom: var(--size-100);
}

.btn {
  position: relative;
  font-size: var(--body-text);
  font-family: var(--body-font);
  font-weight: 400;
  padding: 0.625rem 2rem;
  border-radius: 0;
}

.fancy-btn {
  outline: 0;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: var(--color-light-orange);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fancy-btn:hover,
.fancy-btn:focus,
.fancy-btn:focus-visible {
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.fancy-btn:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 8px;
  top: 8px;
  border: 1px solid var(--color-secondary);
  transition: all .2s ease-out;
  z-index: -1;
  pointer-events: none;
}

.fancy-btn:hover:after {
  top: 0;
  left: 0;
}

.btn-outline-theme {
  color: var(--color-primary);
  border: 1px solid var(--color-secondary);
}

.btn-outline-theme:focus,
.btn-outline-theme:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-white {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
}

.btn-white:hover,
.btn-white:focus-visible {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.image-block {
  position: relative;
  overflow: hidden;
}

.image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--td-3);
}

.image-block:hover img {
  transform: scale(1.5);
}

.slideInDown {
  animation: slideInDown 1s ease forwards;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.social-media {
  position: relative;
  display: flex;
  align-items: center;
  gap: 11px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media a {
  position: relative;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: 100px;
  transition: var(--td-3);
  text-decoration: none;
}

.social-media a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.form-group {
  margin-bottom: 1rem;
}

label {
  position: relative;
  display: block;
  font-size: var(--medium-text);
  font-weight: 300;
  margin-bottom: .25rem;
}

input,
select,
textarea {
  height: 51px;
  font-size: var(--medium-text);
  font-weight: 300 !important;
  border-radius: 0 !important;
}

textarea {
  height: 112px;
}

input::placeholder {
  font-style: italic;
}

input[type="radio"] {
  border-radius: 100px !important;
}

input[type="checkbox"],
input[type="radio"] {
  width: 1.125rem;
  height: 1.125rem;
}

/*========================================
  END GLOBAL STYLE
========================================*/

/*========================================
  START HEADER STYLE
========================================*/
.site-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 1024;
}

@media (min-width: 1024px) {
  .site-header.active {
    animation: slideInDown 1s ease forwards;
  }
}

.site-header.active {
  -webkit-box-shadow: 0 1px 1px var(--color-primary);
  -moz-box-shadow: 0 1px 1px var(--color-primary);
  -o-box-shadow: 0 1px 1px var(--color-primary);
  box-shadow: 0 1px 1px var(--color-primary);
}

.site-header .navbar {
  padding: 0;
  height: 80px;
}

.site-header .navbar-brand {
  font-size: 1.984rem;
  font-family: var(--font-Playfair);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  padding: 0;
  margin: 0;
}

.site-header .navbar-brand img,
.site-header .site-logo,
.site-header .logo {
  max-width: 250px;
}

.site-header .navbar-brand:hover,
.site-header .navbar-brand:focus-visible {
  color: var(--color-secondary);
}

.site-header .navbar-nav {
  column-gap: var(--size-30);
  align-items: center;
  flex-direction: row;
}

.site-header .nav-link {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  color: var(--color-primary);
  font-size: var(--body-text);
  font-family: var(--body-font);
  font-weight: 400;
  text-underline-offset: 7px;
}

.site-header .nav-link:focus,
.site-header .nav-link:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

.site-header .nav-item.active .nav-link,
.site-header .nav-link.active {
  color: var(--color-secondary);
}

@media (min-width: 1024px) {

  .offcanvas-end,
  .menu-btn {
    display: none;
  }
}

/*========================================
  END HEADER STYLE
========================================*/

/*========================================
  START HOME HERO STYLE
========================================*/
.hero-section {
  position: relative;
  width: 100%;
  color: var(--color-white);
}

.hero-section h1 {
  margin-bottom: 1.25rem;
}

.hero-section h1 span {
  font-family: var(--font-Niconne);
}

.hero-section strong,
.hero-section p {
  font-size: var(--large-text);
  font-weight: 400;
}

.hero-section strong {
  text-transform: uppercase;
  letter-spacing: 12px;
}

.hero-section .btn {
  margin-top: calc(var(--size-50) - 1rem);
}

.hero-section .slider-item {
  position: relative;
  min-height: clamp(500px, 50vw, 800px);
  padding: var(--size-50) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.hero-section .slider-item .cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: transform 2.5s ease-in-out;
  z-index: -1;
}
.hero-section .owl-item.active .cover-img {
  transform: scale(1.2);
}
.hero-section .owl-item.active .cover-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.hero-section .slider-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-1);
  pointer-events: none;
  user-select: none;
  z-index: 2;
}

.hero-section .carousel-caption {
  position: relative;
  top: inherit;
  left: inherit;
  right: inherit;
  bottom: inherit;
  z-index: 100;
}

.hero-section .content {
  opacity: 0;
}

.hero-section .owl-item.active .content {
  opacity: 1;
  animation: fadeInDown 1.5s forwards ease-in-out;
}

.hero-section .owl-dots{
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.hero-section .owl-dots button{
  display: inline-block;
  width: 8px;
  height: 16px;
  border-radius: 30px;
  background-color: var(--color-white);
  transition: var(--td-3);
}
.hero-section .owl-dots button.active{
  height: 32px;
  background-color: var(--color-secondary);
}

/* For lg (max-width: 960px) */
@media (min-width: 768px) {
  .hero-section .owl-dots {
    left: calc((100vw - 720px) / 2);
  }
}

@media (min-width: 992px) {
  .hero-section .owl-dots {
    left: calc((100vw - 960px) / 2);
  }
}

@media (min-width: 1200px) {
  .hero-section .owl-dots {
    left: calc((100vw - 1140px) / 2);
  }
}

@media (min-width: 1400px) {
  .hero-section .owl-dots {
    left: calc((100vw - 1240px) / 2);
  }
}

.hero-section .owl-dots button {
  width: 5px;
  height: 11px;
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  border-radius: 30px;
  opacity: 1;
  background-color: var(--color-white);
  transition: all .3s ease-in-out;
}

.hero-section .owl-dots button.active {
  height: 32px;
  background-color: var(--color-secondary);
}

.hero-section .flower {
  position: absolute;
  right: 0;
  bottom: 10px;
  height: auto;
  user-select: none;
  pointer-events: none;
  animation-duration: 2s;
  z-index: 1;
}

.hero-section .mouse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: inline-block;
  animation: fadeInDown 2s infinite ease-in-out;
  z-index: 1;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*========================================
  END HOME HERO STYLE
========================================*/


/*========================================
  START COUPLE INTRO SECTION
========================================*/
.couple-intro-sec h2,
.couple-intro-sec h2+p {
  text-align: center;
}

.intro-blocks {
  margin-top: 2rem;
}

.intro-block {
  position: relative;
  display: flex;
  gap: 1.25rem;
}

.intro-block+.intro-block {
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-top: -200px;
}

.intro-block+.intro-block::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  width: 4.625rem;
  height: 4.625rem;
  background-color: var(--color-white);
  border-radius: 75%;
  background-image: url(../images/hearts.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2.688rem;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.251);
  z-index: 1;
}

.intro-block .img-wrapper {
  position: relative;
  width: 399px;
  height: 443px;
  overflow: hidden;
}

.intro-block .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--td-3);
}

.intro-block .img-wrapper:hover img {
  transform: scale(1.5);
}

.intro-block .content {
  flex: 1;
}

.intro-block h4 {
  margin-bottom: 0;
}

.intro-block strong {
  display: block;
  font-size: 17px;
  font-weight: 300;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.intro-block p:last-child {
  margin-bottom: 0;
}

.couple-intro-sec .top-props,
.couple-intro-sec .bottom-props {
  position: absolute;
  height: auto;
}

.couple-intro-sec .top-props {
  right: 0;
  top: 100px;
  height: auto;
}

.couple-intro-sec .bottom-props {
  left: 0;
  bottom: 100px;
  height: auto;
}

/*========================================
  END COUPLE INTRO SECTION
========================================*/

/*========================================
  START STORY TIMELINE SECTION
========================================*/
.story-timeline-sec {
  padding-top: calc(var(--size-100) + 1.25rem);
}


.story-timeline-sec .container {
  position: relative;
  padding-bottom: 1.5rem;
  background-image: url('../images/timeline-divider.webp');
  background-repeat: no-repeat;
  background-position: bottom center;
}

.timeline-block {
  align-items: center;
}

.timeline-block:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-block .content {
  padding-right: var(--size-30);
}

.timeline-block:nth-child(even) .content {
  text-align: right;
  padding-left: var(--size-30);
  padding-right: 0;
}

.timeline-block .image-block {
  position: relative;
  max-width: 471px;
  height: 414px;
  box-shadow: 30px 30px 0px var(--color-light-orange);
  transition: var(--td-3);
  overflow: hidden;
  z-index: 1;
}

.timeline-block .image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--td-3);
}

.timeline-block .image-block:hover img {
  transform: scale(1.5);
}

.timeline-block .image-block:hover {
  box-shadow: 0px 0px 0px transparent;
}

.story-timeline-sec .top-props {
  position: absolute;
  top: var(--size-50);
  right: 0;
  height: auto;
}

.prop-wrapper {
  position: relative;
  z-index: 1;
}

.prop-wrapper .bottom-props {
  position: absolute;
  bottom: 62%;
  right: 53%;
  height: auto;
}

/*========================================
  END STORY TIMELINE SECTION
========================================*/

/*========================================
  START INVITATION SECTION
========================================*/
.invitation-sec h2 {
  margin-bottom: 2rem;
}

.invitation-sec .row {
  display: flex;
}

.invitation-sec .content-col {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  margin-top: calc(var(--size-100) + 5px);
  margin-bottom: calc(var(--size-100) + 5px);
  padding-left: var(--size-50);
  padding-right: calc(var(--size-100) + 10px);
  z-index: 1;
  overflow: hidden;
}

.invitation-sec .image-block {
  max-width: 610px;
  height: 773px;
}

.invitation-sec .container-fluid {
  position: relative;
  z-index: 1;
}

.invitation-sec .container-fluid::after {
  content: '';
  width: 100%;
  height: calc(100% - 136px);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--color-secondary);
  z-index: -1;
}

.invitation-sec .content strong {
  display: block;
  font-weight: 300;
  color: var(--color-primary);
  margin-bottom: .5rem;
}

.name-block {
  position: relative;
  text-align: left;
}

.name-block div {
  font-size: 2.938rem;
  font-family: var(--font-AlexBrush);
  color: var(--color-primary);
  line-height: 1;
}

.name-block span {
  display: block;
  font-size: 2.697rem;
  color: var(--color-secondary);
  text-align: center;
}

.vanue-info {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 14px 24px;
  display: flex;
  align-items: center;
  text-align: left;
  margin: 1.25rem 0 1.5rem 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.invitation-sec .vanue-info::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-lime-green);
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
}

.vanue-info p {
  margin-bottom: .5rem;
  font-weight: 200;
}

.vanue-info p:last-child {
  margin-bottom: 0;
}

.vanue-info div {
  position: relative;
  flex: 1;
}

.vanue-info div:first-child {
  border-right: 1px solid var(--color-lime-green);
}

.invitation-sec .vanue-info div:first-child {
  max-width: 150px;
  margin-right: 37px;
}

.rsvp-text {
  display: block;
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--heading-font);
  text-transform: uppercase;
}

.rsvp-text:hover {
  color: var(--color-secondary);
}

.rsvp-text span {
  position: relative;
  display: block;
  margin: 5px auto;
  width: 94px;
  height: 1px;
  background-color: var(--color-lime-green);
}

.rsvp-text span::after,
.rsvp-text span::before {
  content: "";
  position: absolute;
  display: block;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
  height: 1px;
  background-color: var(--color-lime-green);
}

.rsvp-text span::after {
  width: 10px;
  margin-top: 10px;
}

.invitation-sec .container-fluid .top-props {
  position: absolute;
  bottom: calc(100% - 150px);
  right: 0;
  user-select: none;
  z-index: -1;
  width: 200px;
  height: auto;
  z-index: -1;
}

.invitation-sec .content-col .bottom-props {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  user-select: none;
  z-index: -1;
}

/*========================================
  END INVITATION SECTION
========================================*/
/*========================================
  START EVENT DETAILS SECTION
========================================*/
.event-details {
  padding-top: calc(var(--size-100) + 1.5rem);
}

.event-details .vanue-info {
  padding: var(--size-50);
  max-width: 860px;
  margin: 0 auto;
  margin-bottom: -150px;
}

.event-details .vanue-info .icon {
  margin-bottom: 1rem;
}

.event-details .vanue-info h4 {
  color: var(--color-white);
}

.event-details .vanue-info strong {
  position: relative;
  font-weight: 300;
}

.event-details .vanue-info strong::before {
  content: "";
  display: block;
  width: calc(var(--size-100) + var(--size-50));
  height: 1px;
  background-color: var(--color-lime-green);
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.event-details .vanue-info div:first-child {
  margin-right: 2rem;
}

.event-details iframe {
  width: 100%;
  aspect-ratio: 16 / 5.6;
  height: auto;
}

/*========================================
END EVENT DETAILS SECTION
========================================*/

/*========================================
START COUPLE-LIST SECTION
========================================*/
.couple-list-sec .mini-container {
  max-width: 994px;
  margin-bottom: 2rem;
  text-align: center;
}

.couple-list-sec .mini-container h2 {
  margin-bottom: 1.5rem;
}

.person-card {
  position: relative;
  width: 100%;
  aspect-ratio: 9 / 10.9;
  max-height: 352px;
  overflow: hidden;
  z-index: 1;
}

.person-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person-card .overlay {
  position: absolute;
  left: 12px;
  top: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  padding: 12px;
  border: 1px solid var(--color-secondary);
  transition: var(--td-3);
  opacity: 0;
  pointer-events: none;
}

.person-card:hover .overlay {
  opacity: 1;
  pointer-events: all;
}

.person-card .overlay .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 242, 235, 0.82);
}

.person-card .overlay p {
  text-transform: uppercase;
  color: var(--color-primary);
}

/*========================================
  END COUPLE-LIST SECTION
========================================*/

/*========================================
  START REVIEW SECTION
========================================*/
.review-sec {
  padding-top: calc(var(--size-100) + 38px);
  padding-bottom: calc(var(--size-100) + 38px) !important;
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, var(--overlay-1), var(--overlay-1)), url(../images/review-bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--color-white);
}

.review-sec .content {
  position: relative;
  max-width: 938px;
  padding: 0 3.75rem;
  margin: 0 auto;
  margin-top: 1.25rem;
  text-align: center;
}

.review-sec .content::after,
.review-sec .content::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 8px;
  width: 50px;
  height: 40px;
  background: url(../images/quote-left.png) center center no-repeat;
  background-size: contain;
}

.review-sec .content::after {
  top: inherit;
  left: inherit;
  right: 8px;
  bottom: 50px;
  background: url(../images/quote-right.png) center center no-repeat;
}

.review-sec .content p,
.review-sec .content strong {
  font-size: 1.375rem;
  font-weight: 300;
}

.review-sec .content strong span {
  font-size: var(--body-text);
  display: block;
}

.review-sec .bottom-props {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.review-sec .owl-dots {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -80px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.review-sec .owl-dots .owl-dot {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background-color: var(--color-secondary) !important;
}

.review-sec .owl-dots .owl-dot.active {
  width: 10px;
  height: 10px;
}

/*========================================
  END REVIEW SECTION
========================================*/

/*========================================
  START GALLERY SECTION
========================================*/
.gallery-sec h2 {
  margin-bottom: 2rem;
}

.gallery {
  row-gap: 1.25rem;
  display: block;
  column-count: 3;
  margin: 0;
}

.gallery a {
  width: 100%;
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.25rem;
  break-inside: avoid;
}

.gallery a img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

/*========================================
  END GALLERY SECTION
========================================*/

/*========================================
  START RSVP FORM SECTION
========================================*/
.rsvp-section {
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, rgba(39, 76, 91, 0.898), rgba(39, 76, 91, 0.898)), url(../images/rsvp-form-bg.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--color-white);
  padding: 5rem 0 !important;
}

.form-wrapper {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  padding: var(--size-50);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.078);
}

.form-wrapper h2 {
  color: var(--color-white);
  text-align: center;
  margin-bottom: .5rem;
}

.form-wrapper .fancy-divider {
  margin-bottom: 2rem;
  text-align: center;
}

.form-wrapper .fancy-divider img {
  height: auto;
}

.outline-form input,
.outline-form select,
.outline-form textarea {
  background-color: transparent;
  border-color: var(--color-white);
  color: var(--color-white) !important;
  font-style: italic;
}

.outline-form select {
  color: var(--color-white) !important;
  --bs-form-select-bg-img: url(../images/chevron-down.svg);
}

.outline-form input::placeholder,
.outline-form textarea::placeholder {
  color: var(--color-white);
}

.outline-form strong {
  font-weight: 700;
  margin-bottom: .5rem;
}

.outline-form input:focus,
.outline-form select:focus,
.outline-form textarea:focus,
.outline-form input:checked[type="checkbox"],
.outline-form input:checked[type="radio"] {
  background-color: transparent;
  border-color: var(--color-white);
}

form .btn-group {
  display: block;
  margin-top: var(--size-50);
  text-align: center;
}

/*========================================
  END RSVP FORM SECTION
========================================*/

/*========================================
  START FOOTER
========================================*/
footer {
  position: relative;
  padding-top: 5.5rem;
  padding-bottom: 1.25rem;
}

footer .logo-text {
  font-size: clamp(3.5rem, 5vw + 1rem, 5.731rem);
  font-family: var(--heading-font);
  color: var(--color-primary);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: normal;
}

footer .logo-text:hover,
footer .logo-text:focus-visible {
  color: var(--color-secondary);
  text-decoration: none;
}

footer h2 {
  position: relative;
  font-family: var(--body-font);
  font-size: var(--medium-text);
  color: var(--color-primary);
  line-height: 27px;
  font-weight: 300;
  margin-top: 2rem;
}

footer h2::before {
  content: "•";
  display: inline-block;
  margin-right: 5px;
  font-size: var(--body-text);
}

.footer-menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer p,
footer a {
  display: block;
  font-size: var(--medium-text);
  font-weight: 300;
  text-decoration: none;
  color: var(--color-primary);
  margin-bottom: 15px;
}

footer p:has(+a) {
  margin-bottom: 0;
}

footer a:hover,
footer a:focus-visible {
  text-decoration: underline;
}

footer .social-media a {
  text-decoration: none !important;
}

footer .social-media i.fa-facebook-f,
footer .social-media i.fa-linkedin-in {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
}

footer hr {
  opacity: 1;
  border-width: 1px;
  border-color: #484848;
  margin-top: calc(4.375rem - 15px);
  margin-bottom: 1.5rem;
}

footer .bottom-text {
  margin-bottom: 0;
  text-align: center;
}

/*========================================
  END FOOTER
========================================*/